<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalize sua compra</title>
</head>
<body>
    <div class="logo">
        <img src="assets/img/Logo.png" alt="logo" class="img-logo">
    </div>
    <div class="todo">
        <div class="infos">
            <div class="produto">
                <img src="assets/img/imgdotop.png" alt="imagem_do_produto">
                <div class="info">
                    <h4>Top Lupo Loba Fitness Confortável Ótima Sustentação Academia</h4>
                    <p>Cor: Preto - Tamanho: M</p>
                </div>
            </div>
            <div class="pagar">
                <table>
                    <thead>
                        <tr>
                            <th>Rua</th>
                            <th>Numero</th>
                            <th>CEP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for endereco in enderecos %}
                        <tr>
                            <td>{{ endereco[0] }}</td>
                            <td>{{ endereco[1] }}</td>
                            <td>{{ endereco[2] }}</td>
                            <td>
                                <a href="{{ url_for('editar_endereco', id=endereco[0]) }}">Editar</a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <h5>Envio 1<img src="assets/img/full.png" alt="raio"></h5>
                <div>
                    <input type="radio" name="entrega" value="hoje" />
                    <label >Chegará rápido hoje</label>
                </div>
                <div>
                    <input type="radio" name="entrega" value="amanha" />
                    <label >Chegará amanhã</label>
                </div>
                <div>
                    <input type="radio" name="entrega" value="preferir" />
                    <label >No dia que preferir</label>
                </div>

                <h5 >Meios de Pagamento</h5>
                <div class="pix">
                    <img src="assets/img/icone-pix.png" alt="">
                    <a href="">PIX</a>

                </div>
                <div class="cartao">
                    <img src="assets/img/icone-cartao.png" alt="">
                    <a href="{{ url_for('finalizar') }}">Novo cartão de crédito ou pré-pago</a>
                </div>

            </div>

        </div>
        <div class="finalizacao">
            <h5>Resumos da Compra</h5>
            <div class="preco">
                <p>Produto</p>
                <p>R$149,99</p>
            </div>
            <div class="desconto">
                <p>Desconto doproduto</p>
                <p class="destaque">-R$110,02</p>
            </div>
            <div class="frete">
                <p>Desconto do produto</p>
                <p class="destaque">Grátis</p>
            </div>
            <div class="total">
                <h6>Total</h6>
                <h6>R$39,97</h6>
            </div>
        </div>

    </div>
</body>
</html>